# Create "db.properties" and replace the following example value by your database information
# Next, right click on folder "resources" -> Mark Directory As -> Resources Root
db.url=jdbc:mysql://localhost:3306/your_database_name
db.user=root
db.pass=your_database_password